/*------------------------------------*\
    ::WP Default Classes
		::Alignment
		::Captions
\*------------------------------------*/

/*------------------------------------*\
    ::Alignment
\*------------------------------------*/
.alignnone,
img.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
img.aligncenter {
    text-align: center;
    display: block;
    margin: 5px auto 5px auto;
}

.alignright,
img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft,
img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

/*------------------------------------*\
    ::Captions
\*------------------------------------*/
.wp-caption {
  box-sizing: border-box;
	clear: both;
  padding: 10px;
  text-align: center;
	background: #fff;
  border: 1px solid #f0f0f0;
  * {
    box-sizing: border-box;
  }
	img{
	    height: auto;
	    max-width: 100%;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    border: 0 none;
	}
	.wp-caption-text {
	    margin: 0 auto;
      width: 80%;
	    padding: 0 4px 5px;
	    font-size: 11px;
	    line-height: 17px;
	}
	&.alignright {
    width: 75% !important;
    margin: 5px 0 20px 20px;
	}
	&.alignleft {
    width: 75% !important;
    margin: 5px 20px 20px 0;
	}
	&.alignnone,
  &.aligncenter {
	    margin: 5px 20px 20px 0;
      width: 100% !important;
	}
  @include bp($desk) {
    &.alignright,
    &.alignleft {
      width: 50% !important;
    }
  }
  @include bp($tablet) {
    &.alignright,
    &.alignleft {
      width: 100% !important;
    }
  }
}
