/*------------------------------------*\
    ::Wrappers
\*------------------------------------*/
[class*="__inner"] {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  clear: both;
  // padding: 0 20px;
  padding: 0 10vh;
  @include bp($mobile) {
    padding: 0 10vw;
  }
}

.main-content {
  &.has-aside {
    display: grid;
    grid-template-columns: auto 250px;
    grid-gap: $gap--big;
    &__right {
      aside {
        order: 1;
      }
    }
    @include bp($mobile) {
      grid-template-columns: auto;
      &__right {
        aside {
          order: 0;
        }
      }
    }
  }
}
