.accordion {
	background-color: $white;
	padding: 0 0 60px;

	.accordion-active {
		h4 {
			color: $color-1;
			&:after {
				transform: rotate(45deg) translate(-50%, -50%);
			}
		}
		&+ .answer{
			color: $color-2;
		}

	}

	&__inner {
		max-width: 1024px;
	}

	&__title {
		text-align: center;
	}

	&__wrapper {
		cursor: pointer;
		border-bottom: 1px solid $color-3;
	}

}

.question {
	h4 {
		color: $color-1;
		padding: 1em 70px .75em 0;
		text-transform: uppercase;
		font-size: 1.25em;
		line-height: 1.25em;
		font-weight: normal;
		position: relative;
		margin-top: 0;
		@include bp($max: 576px) {
	    padding-right: 40px;
	  }
		&:after {
			content: '';
  		overflow: hidden;
			position: absolute;
			right: 0;
			top: 50%;
  		width: 18px;
  		height: 18px;
  		border: 0 solid $color-2;
  		border-width: 0 2px 2px 0;
  		transform: rotate(-45deg) translateY(-50%);
  		transition: transform 400ms;
		}
		&:hover {
			color:$color-2;
		}

	}
}

.answer {
	@include clearfix();
	font-size: 1.3em;
}

@keyframes from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
// .accordion-from-left {
//     opacity: 0;
//     transform: translateX(-50px);
//     animation: from-left 1.5s 200ms forwards;
//     @for $i from 1 to 50 {
//       &:nth-child(#{$i}) { animation-delay: $i * 150ms; }
//     }
// }
