.one-column-content {
	position: relative;
	overflow: hidden;
	// font-size: 17px;

	&.state-broker-page {
		h1, h2 {
			color: #fff;
			font-size: 2.5em;
			font-weight: 400;
			letter-spacing: 0;
			padding: 20px;
		}
	}

	// h1 {
  //   color: $color-1;
  //   font-size: 2em;
  //   font-weight: 200;
	// 	&.small {
	// 		font-size: 1.7em;
	// 		font-weight: 500;
  //     letter-spacing: 0;
	// 	}
	// 	&.medium {
	// 		font-size: 2em;
	// 		font-weight: 300;
	// 	}
  //   &.large {
	// 		font-size: 2em;
	// 		font-weight: 200;
	// 	}
  // }
	//
	// &__page-header {
  //   margin-bottom: 40px;
	// 	padding: 40px 40px 15px;
  //   font-weight: 200;
  //   position: relative;
  //   text-transform: uppercase;
  //   letter-spacing: -.035em;
  //   text-align: center;
  //   &:after {
  // 		content: '';
  //     position: absolute;
  //     bottom: 0;
  //     left: 50%;
  //     width: 200px;
  //     margin-left: -100px;
  //     height: 2px;
  //     background-color: $color-2;
  // 	}
	// }
	//
	// &__heading {
  //   margin-bottom: 40px;
	// 	padding: 40px 40px 15px;
  //   font-weight: 200;
  //   position: relative;
  //   text-transform: uppercase;
  //   text-align: center;
  //   &:after {
  // 		content: '';
  //     position: absolute;
  //     bottom: 0;
  //     left: 50%;
  //     width: 200px;
  //     margin-left: -100px;
  //     height: 2px;
  //     background-color: $color-2;
  // 	}
	// }

	// h2 {
  //   color: $color-1;
  //   font-size: 2em;
  //   font-weight: 400;
	// 	&.small {
	// 		font-size: 1.5em;
	// 		font-weight: 400;
  //     letter-spacing: 0;
	// 	}
	// 	&.medium {
	// 		font-size: 1.75em;
	// 		font-weight: 300;
  //     letter-spacing: 0;
	// 	}
  //   &.large {
	// 		font-size: 2.2em;
	// 		font-weight: 200;
	// 	}
  // }
	//
	// h3 {
	// 	font-size: 20px;
	// 	font-family: $fam-heading;
	// 	text-transform: uppercase;
	// 	font-weight: normal;
	// 	color: $color-1;
	// 	position: relative;
	// 	margin: 25px 0;
	// 	padding-bottom: 20px;
	//
	// 	&:after {
	// 		content: '';
	// 		position: absolute;
	// 		bottom: 0;
	// 		left: 50%;
	// 		width: 100px;
	// 		margin-left: -50px;
	// 		height: 2px;
	// 		background-color: $color-2;
	// 	}
	// }

	&--light {
		&,
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
		.button {
			@extend %button--light;
		}
	}
	&--dark {
		h1, h2, h3, h4, h5, h6 {
			color: $color-1	;
		}
	}
	&--orange {
		color: $color-2;
	}
	&--center {
		text-align: center;
	}
	&--larger {
		font-size: 23px;
		font-weight: bold;
	}
	&--extra-pad{
		padding: 40px 0;
	}

	&--has-background {
		padding: 100px 0;
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: all 2s ease;
		transform: scale(1.1);

		&.active {
			// transform: scale(1.1);
		}
	}

	&__text {
		position: relative;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	&__button {
		padding-bottom: 2em;
	}

	.button {
		position: relative;
		margin-top: 10px;
	}
}
