.video-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding: 28.125% 0;
}

.video-wrapper iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
}
